body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;

}
a{
    text-decoration: none;

}
li{
    list-style-type: none;
}
.head{
    color:blue;
    width: 100%;
}
.logo{
    position: relative;
    display: flex;
    padding-bottom: 5px;
}
.image-logo{
    padding-top: 1rem;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 5.625rem;

}
.icon{
    padding-top: 1rem;
    position: absolute;
    top: 0;
    right: 2rem;
}
.search{
    position: relative;
}

.color{
    font-size: 2.5rem;
    font-style: italic;
    padding-top: 20px;
    
    position: absolute;
    left: 90px;
}
.color1{
    color:red;
}
.color2{
    color:red;
}
.color3{
    color:red;
}
.color4{
    color:red;
}
.color5{
    color:red;
}
.color6{
    color:red;
}
.navbar{
    margin-top: 5rem;
}

.size-image{
    max-width: 100px;
}
.tragop{
    font-size: 3.5rem;
    color: red;
}
.row{
    width: 100%;
}
.bg-cp{
    background-color:gray;
    padding: 10px 30px;
    height: 120px;
}
.title1{
    margin-top: 10px;
    background-color: #00301C;
    height: 4.375rem;
    padding-left: 20px;
}
.title2{
    margin-top: 10px;
    background-color: #DD1849;
    height: 4.375rem;
    padding-left: 20px;
}
.title3{
    margin-top: 10px;
    background-color: #002259;
    height:4.375rem;
    padding-left: 20px;
}

.pc1{
    width: 100%;
    display: flex;
}
.pc{
    width: 33.33%;
    padding-bottom: 20px;
}
.pc img{
    height: 360px;
    max-width: 100%;
}
.icon-bt{
    margin: auto;
}
.icon-bt img{
    max-width: 30px;
}
.icon-bt1 img{
    max-width: 30px;
}
.fontsize36{
    font-size: 2.25rem;
    color: blue;
}
.fontsize24{
    font-size: 1.5rem;
    color: black;
}
.fontsize16{
    font-size: 1rem;
    color: black;
}
.fontsize18{
    font-size: 1.125rem;
    color:black;
   
}
.fontsize30{
    font-size: 1.875rem;
    color:black;
}
.fontsize36red{
    font-size: 2.25rem;
    color:red;
}
.fontsize36w{
    font-size: 2.25rem;
    color:white;
}
.fontsize24red{
    font-size: 1.5rem;
    color: red;
}
.white{
    color: white;
}
*{
    margin: 0px;
    padding: 0px;
}
.bannerkm{
    margin: 0px;
   
    padding: 0px;
}
.bannerkm1{
    text-align: left;
}
.bannerkm2{
    text-align: right;
}
.baner{
    margin-top: 10px;
}
.nav1{
    margin-top: 10px;
}
.nav{
    position: relative;
}
.search{
    position: absolute;
    right: 10px;
    
}
@media (max-width:991px){
    .search{
        position: absolute;
        right: 30px;
        top:0px;
        width: 12.5rem;
    }
}
@media (max-width:575px){
    .search{
        position: absolute;
        right: 10px;
        top:0px;
        width: 9.5rem;
    }
    .heading{
        border: 1px solid hidden;
        border-radius: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .bannerkm1{
       
        text-align: center;
    }
    .bannerkm2{
       
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .bannerkm1{
       
        text-align: center;
    }
    .bannerkm2{
       
        text-align: center;
    }
}
@media (min-width: 320px) and (max-width: 576px){
    .image-logo{
        max-width: 60px;
    }
    .color{
        display: none;
    }
}

.ft1{
    background-color: #DBE1E8;
    padding-top:2rem;
    padding-bottom: 2rem;
    border: 1px solid hidden;
    border-radius: 10px;
    margin-left: 0px;
    
}
.ft{
    padding-top:2rem;
    padding-bottom: 2rem;
    border: 1px solid hidden;
    border-radius: 30px;
    margin-left: 0px;
}
.ft-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.icon-bt img{
    padding: 5px;
}
.icon-bt1 div{
    padding-left: 20px;
    margin: 10px;
}
.icon-bt1 div img{
    padding: 5px;
}
.heading{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
   
}
.footer{
    margin-top: 2rem;
}
.itemm{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.ten{
    text-align: left;
}
.item1{
    text-align: center;
}
.item1 button{
    width: 4rem;
    height: 2rem;
    background-color: white;
    color: black;
    text-align: center;
}
.item1 button img{
    margin: auto;
    
}
.btn-secondary:hover {
    color: #fff;
    background-color:aliceblue;
    border-color:blue;
}
.icon-bt1 div {
     padding-left: 0px;
     margin: 0px;
}

