
.spbanchay img{
   
   padding: 5px;
    text-align: center;

}
.anh{
    width: 100%;
}
.anh1{
    width: 65%;
    padding: 1rem;
}
.row{
    margin: 0px;
    justify-items: center;
    
}
.click{
    width: 33.33%;
    text-align: center;
}
.click button{
    width: 6rem; 
}
.anh2{
    width: 45%;
    padding: 1rem;
    position: relative;
}
.aa{
    position: absolute;
    bottom:1rem;
    padding-right: 2rem;
    height: 48%;
}
