body{
	max-width: 1024px;
	margin:0;
	padding: 0;
	font-family: 'georgia',serif;
	font-size: 20px;

	box-sizing: border-box;
	
}
a{
	text-decoration: none;
}
.benner{
	height: 300px;
	margin: 20px;
	padding: 20px;
	
	border: 3px solid blue;
	background-image: url('banner.jpg');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}
.nav{
	list-style-type: none;
	margin: 20px;
	padding: 20px;
	background-color:  #C5E4D8;
	border: 3px solid blue;
	border-radius: 10px;
	font-size: 27px;
	transition:all all 1s;
	text-align: center;
}

.nav li{
	display: inline;
	margin: 20px;
	padding: 20px;


	
	
	
}

.nav li a:active{
	color: red;
}
.nav li a:visited{
	color: black;
}



.mid{
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: gray;
	margin: 20px;
	padding: 20px;
	border: 3px solid blue;
	border-radius: 10px;
	

}

.cot1{
	margin: 20px;
	padding: 20px;
	border: 3px solid white;
	border-radius: 10px;

}
.cot1 span{
	color:white;
}
.cot2{
	margin: 20px;
	padding: 20px;
	border: 3px solid white;
	border-radius: 10px;


}
.commen{
	height: 300px;
	width: 100%;
	border: 3px solid white;
	border-radius: 10px;
}
.click{
	margin: 10px;
	padding: 10px;
	border: 3px solid red;
	border-radius: 10px;
	color: white;
	font-size: 25px;
	background-color: red;
}
.click:hover{
	border: 3px solid white;
	color: red;
	background-color:white;
}
.bot{
	margin: 20px;
	padding: 20px;
	border: 3px solid blue;
	border-radius: 10px;
	background-color: gray;
}

