body{
	font-family: Arial;
	font-style: 22px;
	color: #000;
	background-color: #c7dbe4;
	box-sizing: border-box;

}

.calculator{
	margin: auto;
	margin-top: 50px;
	width: 280px;
	height: 360px;
	border: 1px solid red;


}

.br{
	clear: both;
}

.button{
	margin: 5px;
	padding: 10px;
	float: left;
	text-align: center;
	background-color: #57686f;
	color: white;
	width: 40px;
	transition: all 0.5s;


}

.button:hover{
	background-color: white;
	color: red;
}

.kq{
	width: 100%;
}
.man_hinh{
	margin: 10px 5px 10px 5px;
    height: 30px;
    width: 268px;
    text-align: right;
    outline: none;
    border: 1px solid #333;
    
}
